(ns moves-beeminder.secrets)

(def moves-client-id "")
(def moves-client-secret "")

(def beeminder-client-id "")
(def beeminder-client-secret "")

(def google-client-id "")
(def google-client-secret "")
